{% extends "base.html" %}

{% block content %}
    <div class="container text-center">
        <div class="row justify-content-md-center">
          <div class="col-md-12">
            <h2 class="text-center mb-5 mt-4">
              ADMINISTRADOR DEL ORDEN DEL DIA CGAB
              <hr />
            </h2>
          </div>
        </div>
  
        {% if messages %} {% for message in messages %}
        <div class="{{ message.tags }} alert alert-success" role="alert">
          {{ message }}
        </div>
        {% endfor %} {% endif %}
  
        <div class="row justify-content-md-center galeria">
          <div class="col-md-6">
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %} {{ form.as_p }}
              <button class="btn btn-primary" type="submit">subir imagen</button>
            </form>
          </div>
  
          <div class="col-md-6" style="border-left: 1px solid #ccc">
            <div class="row justify-content-md-center mi_scroll">
              {% for orde in orden %}
              <div class="col-md-4 mb-3">
                <p class="linea">{{ orde.name }}</p>
                <img
                  style="width: 100%; max-width: 150px"
                  {% comment "" %}
                   
                  {% endcomment %}
                  src="{{ orde.photo.url }}"
                  class="rounded mx-auto d-block"
                  style="width: 100%; float: left; margin-right: 10px" />
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

</form>
{% endblock content %}

